<script src="https://unpkg.com/vue@2"></script>

<div id="app">
    <template v-if="logado">
        <p v-if="logado">Usuario Logado: {{ nome }}</p>
        <p>Perfil: Admin</p>
    </template>
    <p v-else-if="anonimo">Navegando como Anonimo</p>
    <p v-else>Nenhum usuario logado</p>
    <button @click="logado = !logado">
        {{ logado ? 'Sair' : 'Entrar'}}
    </button>
    <label for="checkbox">Anonimo:  </label>
    <input type="checkbox" v-model="anonimo">
    <hr>
    <footer v-show="logado">
        Desenvolvido pra vc!
    </footer>
    <footer v-show="!logado">
        Desenvolvido pra vc que é desconhecido!
    </footer>
</div>

<script>
    new Vue({
        el: '#app',
        data: {
            nome: 'Vinicius',
            logado: false,
            anonimo: false
        }
    })
</script>